{extend name='base' /}

{block name='main'}

    <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="{:url('product/index')}">产品相册</a> / <a href="{:url('product/p_index')}?id={$show.p_id}">相册管理</a> / 编辑产品相册 </div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">

               

                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">编辑产品相册</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" enctype="multipart/form-data" id="form1">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">相册名</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-name" value="{$show.name}" name="name">
                                        </div>
                                    </div>
                                   

                                    <div class="am-form-group" id="page_c" >
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">所属相册 </label>
                                        <div class="am-u-sm-9">
                                        <select data-am-selected  name='uid'>
                                            {volist name="index" id='indexlist'}
                                                <option value="{$indexlist.id}"
                                                {eq name='$indexlist.id' value="$show.p_id" }
                                                    selected="" 
                                                {/eq}
                                                >{$indexlist.name}</option>
                                            {/volist}
                                        </select>
                                        </div>
                                    </div>

                                    <div class="am-form-group" id="c_link">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加相册图片 </label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <img src="/public/assets/img/product/{$show.img}" alt="" id="img_show">
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 添加相册图片</button>
                                                <input id="doc-form-file" type="file" multiple="" name="files" onchange="uploadimg()">
                                                <input type="hidden" name="img" id="img_url" value="{$show.img}">
                                                <input type="hidden" name="p_id" value="{$show.p_id}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">排序</label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="user-weibo" placeholder="" value="{$show.sort}" name="sort">
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">介绍</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="5" id="user-intro" placeholder="请输入介绍"  name="content">{$show.content}</textarea>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

<script type="text/javascript">
    
    function uploadimg(){
        
        var data = new FormData($('#form1')[0]); 
        $.ajax({  
            url: '{:url("product/ajax_uploadimg")}',  
            type: 'POST',  
            data: data, 
            dataType: 'JSON',  
            cache: false,  
            processData: false,  
            contentType: false  
        }).done(function(ret){  
            if(ret['status'] == 1){ 
                var path = '/public/assets/img/product/'+ret['img_path']
                $('#img_show').attr('src',path);
                $('#img_url').val(ret['img_path']);
            }else{  
                alert(ret['msg']);  
            }  
        });  
        return false;  
    }

</script>

{/block}