 <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="{:img($Think.session.img)}" alt="">
                    </div>
                </div>
                <span class="user-panel-logged-in-text"> <i class="am-icon-user sidebar-nav-link-logo"></i> {$Think.session.user}</span>
            </div>


            <!-- 菜单 -->
            <ul class="sidebar-nav">
                
                <li class="sidebar-nav-link">
                    <a href="{:url('index/index')}" class="active" >
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-gears sidebar-nav-link-logo"></i> 系统
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('setting/site')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 站点设置
                            </a>
                        </li>
                    </ul>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('setting/nav')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 导航设置
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-group sidebar-nav-link-logo"></i> 用户
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('user/index')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户管理
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="{:url('user/add')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 添加用户
                            </a>
                        </li>
                    </ul>
                </li>
                 <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-pencil-square-o sidebar-nav-link-logo"></i> 资讯
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('news/index')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章管理
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="{:url('news/cate')}">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 分类管理
                            </a>
                        </li>
                    </ul>
                </li>
                

            </ul>
        </div>