
<!--footer start-->
<div class="footer">
 <div class="footer-box">
   <div class="bottom-logo"><img src="{$Think.LOAD}home/img/footer-logo.png"></div>
    <div class="bottom-nav">
      <ul class="nav-box">
      <li class="xiug"><a href="http://www.nnecps.com/#">关于我们</a></li>
      <li><a href="http://www.nnecps.com/#">教育网简介</a></li>
      <li><a href="http://www.nnecps.com/#">免责声明</a></li>
      <li><a href="http://www.nnecps.com/#">联系方式</a></li>
      <li><a href="http://www.nnecps.com/#">推广联盟</a></li>
      </ul>
    
     <ul class="nav-box">
      <li class="xiug"><a href="http://www.nnecps.com/#">帮助中心</a></li>
      <li><a href="http://www.nnecps.com/#">会员权益</a></li>
      <li><a href="http://www.nnecps.com/#">如何观看</a></li>
      <li><a href="http://www.nnecps.com/#">忘记密码</a></li>
      <li><a href="http://www.nnecps.com/#">常见问题</a></li>
      </ul>
      
      <ul class="nav-box">
     <li class="xiug"><a href="http://www.nnecps.com/#">课程案例</a></li>
      <li><a href="http://www.nnecps.com/#">桌面软件</a></li>
      <li><a href="http://www.nnecps.com/#">APP开发</a></li>
      <li><a href="http://www.nnecps.com/#">在线金融</a></li>
      <li><a href="http://www.nnecps.com/#">医疗健康</a></li>
      </ul>
    
      <ul class="nav-box">
      <li class="xiug"><a href="http://www.nnecps.com/#">商务合作</a></li>
      <li><a href="http://www.nnecps.com/#">渠道加盟</a><a class="yidong" href="http://www.nnecps.com/#">战略伙伴</a></li>
      <li><a href="http://www.nnecps.com/#">讲师合作</a><a class="yidong" href="http://www.nnecps.com/#">新品研究</a></li>
      <li><a href="http://www.nnecps.com/#">客服热线：400-666-8888</a></li>
       
      </ul>
    </div> 
    
    <div class="guanzhu">
      <a href="http://www.nnecps.com/#"><img src="{$Think.LOAD}home/img/guanz1.png" alt="立即关注"></a>
      <a href="http://www.nnecps.com/#"><img src="{$Think.LOAD}home/img/guanz2.png" alt="立即订阅"></a>
    </div>
    
    <div class="erweima">
      <dd><img src="{$Think.LOAD}home/img/erweima.jpg"></dd>
      <dd>关注微信公众号</dd>
    </div>   
 </div>
</div>
        
<!--footer end -->
    
<div id="ft" style="padding:0;height:70px; min-width:1170px; overflow:hidden; border-top:0;">
<footer id="yy">
 
  <div class="foot">
    <div class="wp-container cl">
    
        <p class="copy" style="width:100%; text-align:center; height:70px; overflow:hidden;">


<strong><a href="http://www.nnecps.com/" target="_blank">2016 广西金岸网络科技有限公司 版权所有</a></strong>   <a href="http://www.miitbeian.gov.cn/" target="_blank">桂ICP备15010018号-1</a>  Powered by <strong><a href="http://www.discuz.net/" target="_blank">Discuz!</a></strong> <em>X3.2</em>© 2001-2013 <a href="http://www.comsenz.com/" target="_blank">Comsenz Inc.</a>
                        电话支持：0771-2376971 0771-6758256            </p>
      
    </div>
    <div class="wp-container cl" style="display:none;">
    <p class="text-center pbm ">
GMT+8, 2016-12-26 15:16<span id="debuginfo">
, Processed in 0.057276 second(s), 17 queries
.
</span>
</p>
     </div>
  </div>
</footer>


<div id="scrolltop" style="left: auto; right: 0px; visibility: hidden;">
<span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo(&#39;0&#39;,&#39;0&#39;)" class="scrolltopa"><b>返回顶部</b></a></span>
</div>


{load href="/public/home/js/discuz_tips.js?v=1" /}
