
 <!--header start-->
<div id="fjump_menu" class="btda"></div></div>       
<header id="header" class="header">
  
  <div class="wp-container">
      <h1>
      <a href="" title="{$site_title}" class="logo pull-left">
        <img src="{$site_logo}" alt="{$site_title}" border="0" >
      </a></h1>
      <nav class="nav pull-right">
      <ul class="nav-bar list-unstyled pull-left" id="nav">
      
      {volist name="navlist" id="nav"}
        <li id="mn_portal">
          {eq name="$nav.type" value="page"}
            <a href="{:url('index/alonepage')}?id={$nav.id}" hidefocus="true">{$nav.name}</a>
          {else /}
            <a href="{:url($nav.route)}" hidefocus="true">{$nav.name}</a>
          {/eq}
        </li>
      {/volist}
      </ul>
             <div class="p_pop h_pop" id="mn_userapp_menu" style="display: none"></div>

    </nav>
                

  </div>
</header>