
 <!--header start-->
<div id="fjump_menu" class="btda"></div></div>       
<header id="header" class="header">
  
  <div class="wp-container">
      <h1><a href="" title="南宁市电子商务服务平台" class="logo pull-left"><img src="{$Think.LOAD}/home/img/logo.png" alt="南宁市电子商务公共服务平台" border="0"></a></h1>
    <nav class="nav pull-right">
      <ul class="nav-bar list-unstyled pull-left" id="nav">
      
      {volist name="navlist" id="nav"}
      <li id="mn_portal">
      	<a href="{:url($nav.route)}" hidefocus="true">{$nav.name}</a>
      </li>
      {/volist}
      </ul>
             <div class="p_pop h_pop" id="mn_userapp_menu" style="display: none"></div>

    </nav>
                

  </div>
</header>